<?php
$this->headTitle('Solicitar Liquidación');

$this->mainMenu()->setActiveItemId('finance');

?>

<body class="page-user">
    <div class="topbar-wrap">
        <div class="topbar is-sticky">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="topbar-nav d-lg-none">
                        <li class="topbar-nav-item relative">
                            <a class="toggle-nav" href="#">
                                <div class="toggle-icon">
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                </div>
                            </a>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                    <a class="topbar-logo">
                        <img src="<?php echo $this->basePath('img/logo.png') ?>" srcset="<?php echo $this->basePath('img/logo2x.png'); ?> 2x" alt="logo">
                    </a>
                    <ul class="topbar-nav">
                        <li class="topbar-nav-item relative">
                            <span class="user-welcome d-none d-lg-inline-block"><?php echo $client['name']; ?></span>
                            <a class="toggle-tigger user-thumb" href="#"><em class="ti ti-user"></em></a>
                            <div class="toggle-class dropdown-content dropdown-content-right dropdown-arrow-right user-dropdown">
                                <ul class="user-links">
                                    <li><a href="<?php echo $this->basePath('application/settings'); ?>"><i class="ti ti-id-badge"></i>Mi perfil</a></li>
                                </ul>
                                <ul class="user-links bg-light">
                                    <li><a href="<?php echo $this->basePath('logout'); ?>"><i class="ti ti-power-off"></i>Desconectar</a></li>
                                </ul>
                            </div>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                </div>
            </div><!-- .container -->
        </div><!-- .topbar -->
        <div class="navbar">
            <div class="container">
                <div class="d-lg-flex justify-content-between align-items-center w-100">
                    <ul class="navbar-menu">
                        <?php if($this->isProvider): ?>
                        <li><a href="<?php echo $this->basePath('finance'); ?>"><em class="ikon ikon-coins"></em> <?php echo $this->translate("Facturas a cobrar", "default", "en_US"); ?> </a></li>
                        <?php endif; ?>
                        <?php if($this->isClient): ?>
                        <li><a href="<?php echo $this->basePath('finance/client'); ?>"><em class="ikon ikon-coins"></em> Facturas a pagar </a></li>
                        <?php endif; ?>
                        <!-- <li><a href="<?php echo $this->basePath('application/settings'); ?>"><em class="ikon ikon-user"></em> Mi Perfil</a></li> -->
                    </ul>
                </div>
            </div><!-- .container -->
        </div><!-- .menubar -->
    </div><!-- .topbar-wrap -->
    <div class="page-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-9">
                    <div class="kyc-form-steps card mx-lg-4">
                        <?php echo $this->flashMessenger()->renderCurrent('error', ['alert', 'alert-danger', 'alert-center', 'prakton-error']); ?>
                        <?php $this->flashMessenger()->getPluginFlashMessenger()->clearCurrentMessagesFromContainer(); ?>
                        <?php echo $this->flashMessenger()->render('error', ['alert', 'alert-danger', 'alert-center', 'prakton-error']); ?>
                        <form id="addfacturaform" action="<?php echo $this->basePath('finance/addfactura'); ?>" method="POST" name="registerOperation" enctype="multipart/form-data" class="form-validate validate-modern" novalidate="novalidate">
                            <input type="hidden" name="idClient" value="<?php echo $this->client['id']; ?>" id="idClient"/>
                            <div class="form-step form-step1">
                                <div class="form-step-head card-innr">
                                    <div class="step-head">
                                        <div class="step-number">01</div>
                                        <div class="step-head-text">
                                            <h4>Detalle del Proveedor</h4>
                                        </div>
                                        <div class="align-items-center" style="margin-left:48%">
                                            <a href="<?php echo $this->basePath('finance'); ?>" class="btn btn-sm btn-auto btn-primary d-sm-block d-none"><em class="fas fa-arrow-left mr-3"></em>Volver</a>
                                        </div>
                                    </div>
                                </div><!-- .step-head -->
                                <div class="form-step-fields card-innr">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label">
                                                <label class="input-item-label">Seleccionar Proveedor <span class="text-danger">*</span></label>
                                                <select class="select select-block select-bordered required" id="idProveedor" name="idProveedor" data-msg="Requirido" aria-required="true">
                                                    <option value=""> - Seleccionar - </option>
                                                    <option value="addprovider"> - Añadir Proveedor - </option>
                                                    <?php foreach ($this->listProvider as $key => $value) { ?>
                                                        <?php $selected = ($value['id'] == $form->get('idProveedor')->getValue()) ? 'selected' : ''; ?>
                                                        <option value="<?php echo $value['id']; ?>" <?php echo $selected; ?> ><?php echo $value['name']; ?></option>
                                                    <?php } ?>
                                                </select>
                                            </div>
                                        </div><!-- .col -->
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label" style="display: none;">
                                                <label class="input-item-label">CIF <span class="text-danger">*</span></label>
                                                <input class="input-bordered required" type="text" value="<?php echo $form->get('cif_c')->getValue(); ?>" id="cif_c" name="cif_c" readonly data-msg="Requirido" aria-required="true">
                                            </div><!-- .input-item -->
                                        </div><!-- .col -->
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label" style="display: none;">
                                                <label class="input-item-label">Nombre Proveedor <span class="text-danger">*</span></label>
                                                <input class="input-bordered required" type="text" value="<?php echo $form->get('name')->getValue(); ?>" id="name" name="name" readonly data-msg="Requirido" aria-required="true">
                                            </div><!-- .input-item -->
                                        </div><!-- .col -->
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label" style="display: none;">
                                                <label class="input-item-label">Correo Electrónico <span class="text-danger">*</span></label>
                                                <input class="input-bordered required" type="text" value="<?php echo $form->get('email')->getValue(); ?>" id="email" name="email" readonly data-msg="Requirido" aria-required="true">
                                            </div><!-- .input-item -->
                                        </div><!-- .col -->
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label" style="display: none;">
                                                <label class="input-item-label">Teléfono <span class="text-danger">*</span></label>
                                                <input class="input-bordered required" type="text" value="<?php echo $form->get('phone')->getValue(); ?>" id="phone" name="phone" readonly data-msg="Requirido" aria-required="true">
                                            </div><!-- .input-item -->
                                        </div><!-- .col -->
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label" style="display: none;">
                                                <label class="input-item-label">Persona Contacto <span class="text-danger">*</span></label>
                                                <input class="input-bordered required" type="text" value="<?php echo $form->get('contact')->getValue(); ?>" id="contact" name="contact" readonly data-msg="Requirido" aria-required="true">
                                            </div><!-- .input-item -->
                                        </div><!-- .col -->
                                        <div class="col-md-12">
                                            <div class="input-item input-with-label" style="display: none;">
                                                <label class="input-item-label">IBAN: <span class="text-danger">*</span></label>
                                                <input class="input-bordered required" type="text" value="<?php echo $form->get('iban')->getValue(); ?>" id="iban" name="iban" readonly data-msg="Requirido" aria-required="true">
                                            </div><!-- .input-item -->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="input-item input-with-label" style="display: none;">
                                                <label class="input-item-label">Dirección <span class="text-danger">*</span></label>
                                                <input type="text" class="input-bordered" value="<?php echo $form->get('billing_address_street')->getValue(); ?>" placeholder="Direccion" id="billing_address_street" name="billing_address_street" readonly data-msg="Requirido" aria-required="true"></input>
                                                <input type="text" class="input-bordered" value="<?php echo $form->get('billing_address_city')->getValue(); ?>" placeholder="Ciudad" id="billing_address_city" name="billing_address_city" readonly data-msg="Requirido" aria-required="true"></input>
                                                <input type="text" class="input-bordered" value="<?php echo $form->get('billing_address_state')->getValue(); ?>" placeholder="Estado/Provincia" id="billing_address_state" name="billing_address_state" readonly data-msg="Requirido" aria-required="true"></input>
                                                <input type="text" class="input-bordered" value="<?php echo $form->get('billing_address_postalcode')->getValue(); ?>" placeholder="Código Postal" id="billing_address_postalcode" name="billing_address_postalcode" readonly data-msg="Requirido" aria-required="true"></input>
                                                <input type="text" class="input-bordered" value="<?php echo $form->get('billing_address_country')->getValue(); ?>" placeholder="Pais" id="billing_address_country" name="billing_address_country" readonly data-msg="Requirido" aria-required="true"></input>
                                            </div><!-- .input-item -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->
                                </div><!-- .step-fields -->
                            </div>
                            <div class="form-step form-step2">
                                <div class="form-step-head card-innr">
                                    <div class="step-head">
                                        <div class="step-number">02</div>
                                        <div class="step-head-text">
                                            <h4>Detalle Nueva Factura</h4>
                                        </div>
                                    </div>
                                </div><!-- .step-head -->
                                <div class="form-step-fields card-innr">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label">
                                                <label class="input-item-label">Importe <span class="text-danger">*</span></label>
                                                <input class="input-bordered required" type="text" value="<?php echo $form->get('importe_c')->getValue(); ?>" id="importe_c" name="importe_c" data-msg="Requirido" aria-required="true">
                                            </div><!-- .input-item -->
                                        </div><!-- .col -->
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label">
                                                <label class="input-item-label">Núm. Factura <span class="text-danger">*</span></label>
                                                <input class="input-bordered required" type="text" value="<?php echo $form->get('id_factura')->getValue(); ?>" id="id_factura" name="id_factura" data-msg="Requirido" aria-required="true">
                                            </div><!-- .input-item -->
                                        </div><!-- .col -->
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label">
                                                <label class="input-item-label">Fecha de Factura <span class="text-danger">*</span></label>
                                                <div class="relative">
                                                    <input class="input-bordered date-picker required" value="<?php echo $form->get('fecha_factura_c')->getValue(); ?>" type="text" id="fecha_factura_c" name="fecha_factura_c" data-msg="Requirido" aria-required="true">
                                                    <span class="input-icon input-icon-right date-picker-icon"><em class="ti ti-calendar"></em></span>
                                                </div>
                                            </div>
                                        </div><!-- .col -->
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label">
                                                <label class="input-item-label">Fecha Vencimiento <span class="text-danger">*</span></label>
                                                <div class="relative">
                                                    <input class="input-bordered date-picker required" value="<?php echo $form->get('fecha_vencimiento_c')->getValue(); ?>" type="text" id="fecha_vencimiento_c" name="fecha_vencimiento_c" data-msg="Requirido" aria-required="true">
                                                    <span class="input-icon input-icon-right date-picker-icon"><em class="ti ti-calendar"></em></span>
                                                </div>
                                            </div>
                                        </div><!-- .col -->
                                        <div class="col-md-12">
                                            <div class="input-item input-with-label">
                                                <label class="input-item-label">Detalles adicionales </label>
                                                <textarea class="input-bordered input-textarea required" placeholder="Detalle adicionales" id="description" name="description" data-msg="Requirido" aria-required="true"><?php echo $form->get('description')->getValue(); ?></textarea>
                                            </div><!-- .input-item -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->
                                </div><!-- .step-fields -->
                            </div>
                            <div class="form-step form-step3">
                                <div class="form-step-head card-innr">
                                    <div class="step-head">
                                        <div class="step-number">03</div>
                                        <div class="step-head-text">
                                            <h4>Adjuntar Factura</h4>
                                        </div>
                                    </div>
                                </div><!-- .step-head -->
                                <div class="form-step-fields card-innr">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-item input-with-label">
                                                <label class="input-item-label">Adjuntar archivo</label>
                                                <div class="relative">
                                                    <em class="input-file-icon fas fa-upload"></em>
                                                    <input type="file" class="input-file" id="file_invoice" name="file_invoice">
                                                    <label for="file_invoice">Selecciona el Archivo</label>
                                                </div>
                                            </div>
                                        </div><!-- .col -->
                                    </div><!-- .row -->
                                </div><!-- .step-fields -->
                            </div>
                            <div style="width:100%; text-align: center; margin-top:10px; margin-bottom:20px">
                                <!-- <button id="crearFactura" class="btn btn-success" type="submit">
                                    <alpha class="com">Cargar Factura</alpha>
                                </button> -->
                                <button type="submit" class="btn btn-success crearFactura" id="crearFactura" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Cargando Factura">
                                    <alpha class="com">Cargar Factura</alpha>
                                </button>
                            </div>
                        </form>
                    </div><!-- .card -->
                </div>
            </div>
        </div><!-- .container -->
    </div><!-- .page-content -->

    <div class="footer-bar">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8">
                    <ul class="footer-links">
                        <li><a href="<?php echo $this->basePath('finance/legal'); ?>">Aviso legal</a></li>
                        <li>902 021 445</li>
                        <li><a href="mailto:comunicaciones@prk-finance.com">comunicaciones@prk-finance.com</a></li>
                    </ul>
                </div><!-- .col -->
                <div class="col-md-4 mt-2 mt-sm-0">
                    <div class="d-flex justify-content-between justify-content-md-end align-items-center guttar-25px pdt-0-5x pdb-0-5x">
                        <div class="copyright-text">&copy; 2018 PRAKTON</div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
    <script src="<?php echo $this->basePath('js/script.js'); ?>"></script>
    <script type="text/javascript">
        var BASE_URL = "<?php echo $this->basePath(); ?>";
        /*$().on('click', function({
            $( "button.btn-success.span1.interesado" ).prop('disabled', true);
        }))*/
        /*$('#crearFactura').on('click', function() {
            var $this = $(this);
            $this.button('loading');
        });
*/
        /*$('.crearFactura').on('click', function() {
            $(this).prop('disabled',true);
            console.log('disabled')
        });*/

        $("#addfacturaform").submit(function () {
            console.log('submit')
            $('.crearFactura').attr("disabled", true);
            return true;
        });

    </script>
</body>