<?php
$this->headTitle('Condiciones');

$this->mainMenu()->setActiveItemId('finance');

$this->pageBreadcrumbs()->setItems([
            'Facturas'=> $this->url('finance'),
            'Conditions'=> $this->url('finance', ['action'=>'conditions'])
            ]);
?>
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <div class="page-header">
            <h1>Condiciones Legales</h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<div class="row" id="conditions" style="padding-bottom: 9px;border-bottom: 1px solid #eee;">
    <div class="col-md-12">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue nunc eu lobortis mollis. Pellentesque mattis mollis dolor, ut euismod neque egestas pharetra. Nunc in erat ac mauris suscipit elementum. Aenean id luctus magna. Phasellus nulla dui, auctor ut vehicula porttitor, accumsan sit amet lacus. Etiam eu ex sodales, congue augue vel, pulvinar lorem. Nullam finibus nunc lectus, ac porttitor dolor pharetra ac. Sed eu nunc quis eros posuere porta at semper libero. Sed faucibus quam sed tincidunt congue.

		Duis bibendum mi rhoncus, tincidunt lorem vel, faucibus neque. Donec feugiat convallis lacus, vitae tempus risus elementum nec. Praesent fringilla lorem orci, ut iaculis nunc condimentum efficitur. Aenean euismod at ipsum vitae rutrum. Vestibulum rhoncus sem eget eros consectetur posuere. Etiam eget interdum libero. Pellentesque vulputate nulla vitae consequat mattis. Aliquam hendrerit, mi non rutrum consequat, erat nulla vulputate purus, eu lobortis odio arcu vitae risus.

		Aliquam erat volutpat. Quisque mattis purus sagittis tellus fermentum, ac suscipit erat ornare. Aliquam non massa urna. Donec molestie a risus in convallis. Proin ac urna non lorem laoreet ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula, neque eget venenatis dapibus, dui elit porttitor felis, ac ultrices velit ante vel ante. Phasellus vel metus sit amet nisi dignissim elementum. Quisque vel velit ut elit tempus lacinia vitae eu arcu. Praesent vitae mollis mi. Mauris sit amet nunc elit. Vivamus placerat congue magna id gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

		Nulla dictum ullamcorper ornare. Donec ultrices mollis tellus, eu auctor elit convallis ut. Sed laoreet convallis dolor vitae faucibus. In quis sapien eu diam luctus mattis. Donec non vehicula massa, at scelerisque ex. Donec tristique diam et ultrices lacinia. Aliquam ante eros, congue id porta a, porttitor sed odio. Quisque ligula neque, tempus ut mi vel, volutpat porttitor ligula. Aliquam maximus convallis lobortis. Aliquam tempor ex non mauris dapibus, in pharetra magna lacinia. Aliquam consectetur eros ut rhoncus pellentesque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam id volutpat nunc.

		Quisque bibendum est quis orci efficitur, eu luctus lorem scelerisque. In quis dui mauris. Vestibulum sit amet vestibulum urna. Maecenas nec elit vel ex condimentum tristique vitae a dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat, sem sit amet iaculis placerat, lectus metus rutrum erat, sed tristique diam enim vel nisi. Mauris vitae aliquam ex. Donec vestibulum est sapien, ac venenatis metus congue bibendum. Aenean augue eros, tincidunt sed orci non, fermentum iaculis enim. Donec dignissim non eros nec posuere. Maecenas pulvinar magna vel bibendum condimentum.
    </div>
</div>