<?php
$this->headTitle('Protección de datos - LOPD<');

$this->mainMenu()->setActiveItemId('finance');
?>
<body class="page-user">
    <div class="topbar-wrap">
        <div class="topbar is-sticky">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="topbar-nav d-lg-none">
                        <li class="topbar-nav-item relative">
                            <a class="toggle-nav" href="#">
                                <div class="toggle-icon">
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                </div>
                            </a>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                    <a class="topbar-logo">
                        <img src="<?php echo $this->basePath('img/logo.png') ?>" srcset="<?php echo $this->basePath('img/logo2x.png'); ?> 2x" alt="logo">
                    </a>
                    <ul class="topbar-nav">
                        <li class="topbar-nav-item relative">
                            <span class="user-welcome d-none d-lg-inline-block"><?php echo $client['name']; ?></span>
                            <a class="toggle-tigger user-thumb" href="#"><em class="ti ti-user"></em></a>
                            <div class="toggle-class dropdown-content dropdown-content-right dropdown-arrow-right user-dropdown">
                                <ul class="user-links">
                                    <li><a href="<?php echo $this->basePath('application/settings'); ?>"><i class="ti ti-id-badge"></i>Mi perfil</a></li>
                                </ul>
                                <ul class="user-links bg-light">
                                    <li><a href="<?php echo $this->basePath('logout'); ?>"><i class="ti ti-power-off"></i>Desconectar</a></li>
                                </ul>
                            </div>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                </div>
            </div><!-- .container -->
        </div><!-- .topbar -->
        <div class="navbar">
            <div class="container">
                <div class="d-lg-flex justify-content-between align-items-center w-100">
                    <ul class="navbar-menu">
                        <?php if($this->isProvider): ?>
                        <li><a href="<?php echo $this->basePath('finance'); ?>"><em class="ikon ikon-coins"></em> Facturas a cobrar </a></li>
                        <?php endif; ?>
                        <?php if($this->isClient): ?>
                        <li><a href="<?php echo $this->basePath('finance/client'); ?>"><em class="ikon ikon-coins"></em> Facturas a pagar </a></li>
                        <?php endif; ?>
                        <!-- <li><a href="<?php echo $this->basePath('application/settings'); ?>"><em class="ikon ikon-user"></em> Mi Perfil</a></li> -->
                    </ul>
                </div>
            </div><!-- .container -->
        </div><!-- .menubar -->
    </div><!-- .topbar-wrap -->

    <div class="page-content">
        <div class="container">
            <div class="card content-area">
                <div class="card-innr">
                    <div class="card-head">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="card-title" style="margin-bottom:20px;text-align:center;font-size:24px">Protección de datos - LOPD</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>En cumplimiento de la Ley 15/1999 de Protección de Datos de Carácter Personal (LOPD), Prakton Hosting SL informa a todos sus clientes y usuarios:</p>
                                <p>Prakton Hosting SL recoge los datos personales de cada cliente o usuario en un fichero que es utilizado para prestar los servicios que se contratan, así como mantener un canal de comunicación entre Prakton Hosting SL y el cliente o usuario. Ocasionalmente también se pueden utilizar dichos datos para mandar información que Prakton considere de su interés. Los datos de los clientes son recogidos mediante el alta en los servicios y los datos de los usuarios son recogidos por los formularios de la web o por la facilitación de los datos por el propio interesado.</p>
                                <p>Prakton ha inscrito debidamente este fichero en la Agencia de Protección de datos así cumpliendo con lo dispuesto en la LOPD. Prakton es el único responsable de dicho fichero y en ningún caso será cedido a terceros ni usado para una finalidad que no sea la descrita anteriormente.</p>
                                <p>El cliente o usuario puede visualizar, modificar, rectificar o cancelar sus datos en cualquier momento. El acceso a dichos datos lo puede realizar mediante su 'Acceso clientes' en <a href="www.praktonhost.com">www.praktonhost.com</a> a la cual se accede mediante un login personal del cliente. También se puede solicitar mediante correo electrónico a <a href="mailto:datos@praktonhost.com">datos@praktonhost.com</a> con la dirección de correo que figure en la ficha de cliente. En caso de no tener acceso a la dirección, puede solicitarlo desde cualquier dirección adjuntando una copia del DNI o tarjeta del CIF.</p>
                                <p>Así mismo, el cliente o usuario tiene la obligación de mantener dichos datos siempre actualizados mediante los medios ya descritos.</p>
                                <p>Prakton Hosting SL tiene un especial cuidado en el tratamiento de los datos. Todo el personal con acceso a datos de carácter personal ha recibido la formación necesaria para mantener la total confidencialidad e integridad de los datos.</p>
                                <p>Con el fin de tener la máxima seguridad y fiabilidad, Prakton Hosting SL, tiene instalado adicionalmente un certificado de seguridad SSL, para establecer en todo momento una encriptación en la transmisión de datos entre el usuario y el servidor.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .card-innr -->
            </div><!-- .card -->
        </div><!-- .container -->
    </div><!-- .page-content -->

    <div class="footer-bar">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8">
                    <ul class="footer-links">
                        <ul class="footer-links">
                        <li><a href="<?php echo $this->basePath('finance/legal'); ?>">Aviso legal</a></li>
                        <li>902 021 445</li>
                        <li><a href="mailto:comunicaciones@prk-finance.com">comunicaciones@prk-finance.com</a></li>
                    </ul>
                </div><!-- .col -->
                <div class="col-md-4 mt-2 mt-sm-0">
                    <div class="d-flex justify-content-between justify-content-md-end align-items-center guttar-25px pdt-0-5x pdb-0-5x">
                        <div class="copyright-text">&copy; 2018 PRAKTON</div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
    <script src="<?php echo $this->basePath('js/script.js'); ?>"></script>
</body>