<?php
$this->headTitle('Política de Cookies');

$this->mainMenu()->setActiveItemId('finance');
?>
<body class="page-user">
    <div class="topbar-wrap">
        <div class="topbar is-sticky">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="topbar-nav d-lg-none">
                        <li class="topbar-nav-item relative">
                            <a class="toggle-nav" href="#">
                                <div class="toggle-icon">
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                </div>
                            </a>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                    <a class="topbar-logo">
                        <img src="<?php echo $this->basePath('img/logo.png') ?>" srcset="<?php echo $this->basePath('img/logo2x.png'); ?> 2x" alt="logo">
                    </a>
                    <ul class="topbar-nav">
                        <li class="topbar-nav-item relative">
                            <span class="user-welcome d-none d-lg-inline-block"><?php echo $client['name']; ?></span>
                            <a class="toggle-tigger user-thumb" href="#"><em class="ti ti-user"></em></a>
                            <div class="toggle-class dropdown-content dropdown-content-right dropdown-arrow-right user-dropdown">
                                <ul class="user-links">
                                    <li><a href="<?php echo $this->basePath('application/settings'); ?>"><i class="ti ti-id-badge"></i>Mi perfil</a></li>
                                </ul>
                                <ul class="user-links bg-light">
                                    <li><a href="<?php echo $this->basePath('logout'); ?>"><i class="ti ti-power-off"></i>Desconectar</a></li>
                                </ul>
                            </div>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                </div>
            </div><!-- .container -->
        </div><!-- .topbar -->
        <div class="navbar">
            <div class="container">
                <div class="d-lg-flex justify-content-between align-items-center w-100">
                    <ul class="navbar-menu">
                        <?php if($this->isProvider): ?>
                        <li><a href="<?php echo $this->basePath('finance'); ?>"><em class="ikon ikon-coins"></em> Facturas a cobrar </a></li>
                        <?php endif; ?>
                        <?php if($this->isClient): ?>
                        <li><a href="<?php echo $this->basePath('finance/client'); ?>"><em class="ikon ikon-coins"></em> Facturas a pagar </a></li>
                        <?php endif; ?>
                        <!-- <li><a href="<?php echo $this->basePath('application/settings'); ?>"><em class="ikon ikon-user"></em> Mi Perfil</a></li> -->
                    </ul>
                </div>
            </div><!-- .container -->
        </div><!-- .menubar -->
    </div><!-- .topbar-wrap -->

    <div class="page-content">
        <div class="container">
            <div class="card content-area">
                <div class="card-innr">
                    <div class="card-head">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="card-title" style="margin-bottom:20px;text-align:center;font-size:24px">Política de Cookies</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Prakton Hosting SL en cumplimiento de lo dispuesto por la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico (LSSICE), pone a disposición de los usuarios la siguiente información relativa a la empresa.</p>
                                <ul>
                                    <li>Denominación social: <strong>PRAKTON HOSTING SL</strong></li>
                                    <li>NIF: B-65703316</li>
                                    <li>Domicilio social: <strong>C/Marqués de Sentmenat, 54 -&nbsp;08029 - Barcelona -&nbsp;España</strong></li>
                                    <li>Email: <a href="mailto:info@praktonhost.com"><strong>info@praktonhost.com</strong></a></li>
                                    <li>Teléfono: <strong>902.021.445</strong></li>
                                    <li>Fax:&nbsp;&nbsp;<strong>934.144.263</strong></li>
                                    <li>Datos registro mercantil:&nbsp;<strong>PRAKTON Hosting, S.L., inscrita en el R.M. Barcelona, Tomo 42970, Folio 0001 , S.G. &nbsp;Hoja 416634, inscripción 1ª</strong></li>
                                </ul>
                                <p>Consultar el apartado relativo a la 'política de cookies' haciendo <a href="<?php echo $this->basePath('finance/cookies'); ?>">clic aquí</a>.</p>
                                <p>Consultar el apartado relativo a la 'protección de datos' haciendo <a href="<?php echo $this->basePath('finance/datos'); ?>">clic aquí</a>.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .card-innr -->
            </div><!-- .card -->
        </div><!-- .container -->
    </div><!-- .page-content -->

    <div class="footer-bar">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8">
                    <ul class="footer-links">
                        <ul class="footer-links">
                        <li><a href="<?php echo $this->basePath('finance/legal'); ?>">Aviso legal</a></li>
                        <li>902 021 445</li>
                        <li><a href="mailto:comunicaciones@prk-finance.com">comunicaciones@prk-finance.com</a></li>
                    </ul>
                </div><!-- .col -->
                <div class="col-md-4 mt-2 mt-sm-0">
                    <div class="d-flex justify-content-between justify-content-md-end align-items-center guttar-25px pdt-0-5x pdb-0-5x">
                        <div class="copyright-text">&copy; 2018 PRAKTON</div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
    <script src="<?php echo $this->basePath('js/script.js'); ?>"></script>
</body>