<?php
$this->headTitle('Solicitar Liquidación');

$this->mainMenu()->setActiveItemId('finance');

?>

<body class="page-user">
    <div class="topbar-wrap">
        <div class="topbar is-sticky">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="topbar-nav d-lg-none">
                        <li class="topbar-nav-item relative">
                            <a class="toggle-nav" href="#">
                                <div class="toggle-icon">
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                </div>
                            </a>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                    <a class="topbar-logo">
                        <img src="<?php echo $this->basePath('img/logo.png') ?>" srcset="<?php echo $this->basePath('img/logo2x.png'); ?> 2x" alt="logo">
                    </a>
                    <ul class="topbar-nav">
                        <li class="topbar-nav-item relative">
                            <span class="user-welcome d-none d-lg-inline-block"><?php echo $client['name']; ?></span>
                            <a class="toggle-tigger user-thumb" href="#"><em class="ti ti-user"></em></a>
                            <div class="toggle-class dropdown-content dropdown-content-right dropdown-arrow-right user-dropdown">
                                <ul class="user-links">
                                    <li><a href="<?php echo $this->basePath('application/settings'); ?>"><i class="ti ti-id-badge"></i>Mi perfil</a></li>
                                </ul>
                                <ul class="user-links bg-light">
                                    <li><a href="<?php echo $this->basePath('logout'); ?>"><i class="ti ti-power-off"></i>Desconectar</a></li>
                                </ul>
                            </div>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                </div>
            </div><!-- .container -->
        </div><!-- .topbar -->
        <div class="navbar">
            <div class="container">
                <div class="d-lg-flex justify-content-between align-items-center w-100">
                    <ul class="navbar-menu">
                        <?php if($this->isProvider): ?>
                        <li><a href="<?php echo $this->basePath('finance'); ?>"><em class="ikon ikon-coins"></em> Facturas a cobrar </a></li>
                        <?php endif; ?>
                        <?php if($this->isClient): ?>
                        <li><a href="<?php echo $this->basePath('finance/client'); ?>"><em class="ikon ikon-coins"></em> Facturas a pagar </a></li>
                        <?php endif; ?>
                        <!-- <li><a href="<?php echo $this->basePath('application/settings'); ?>"><em class="ikon ikon-user"></em> Mi Perfil</a></li> -->
                    </ul>
                </div>
            </div><!-- .container -->
        </div><!-- .menubar -->
    </div><!-- .topbar-wrap -->
    <div class="page-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-9">
                    <div class="kyc-form-steps card mx-lg-4">
                        <?php echo $this->flashMessenger()->renderCurrent('error', ['alert', 'alert-danger', 'alert-center', 'prakton-error']); ?>
                        <?php $this->flashMessenger()->getPluginFlashMessenger()->clearCurrentMessagesFromContainer(); ?>
                        <?php echo $this->flashMessenger()->render('error', ['alert', 'alert-danger', 'alert-center', 'prakton-error']); ?>
                        <form action="<?php echo $this->basePath('finance/editfactura'); ?>/<?php echo $this->invoice_id; ?>" method="POST" name="editOperation" enctype="multipart/form-data" class="form-validate validate-modern" novalidate="novalidate">
                        <div class="form-step form-step2">
                            <div class="form-step-head card-innr">
                                <div class="step-head">
                                    <div class="step-number">01</div>
                                    <div class="step-head-text">
                                        <h4>Detalle Factura</h4>
                                    </div>
                                </div>
                            </div><!-- .step-head -->
                            <div class="form-step-fields card-innr">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Importe <span class="text-danger">*</span></label>
                                            <input class="input-bordered required" type="text" value="<?php echo $form->get('importe_c')->getValue(); ?>" id="importe_c" name="importe_c" data-msg="Requirido" aria-required="true">
                                        </div><!-- .input-item -->
                                    </div><!-- .col -->
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Núm. Factura <span class="text-danger">*</span></label>
                                            <input class="input-bordered required" type="text" value="<?php echo $form->get('id_factura')->getValue(); ?>" id="id_factura" name="id_factura" data-msg="Requirido" aria-required="true">
                                        </div><!-- .input-item -->
                                    </div><!-- .col -->
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Fecha de Factura <span class="text-danger">*</span></label>
                                            <div class="relative">
                                                <input class="input-bordered date-picker required" value="<?php echo $form->get('fecha_factura_c')->getValue(); ?>" type="text" id="fecha_factura_c" name="fecha_factura_c" data-msg="Requirido" aria-required="true">
                                                <span class="input-icon input-icon-right date-picker-icon"><em class="ti ti-calendar"></em></span>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Fecha Vencimiento <span class="text-danger">*</span></label>
                                            <div class="relative">
                                                <input class="input-bordered date-picker required" value="<?php echo $form->get('fecha_vencimiento_c')->getValue(); ?>" type="text" id="fecha_vencimiento_c" name="fecha_vencimiento_c" data-msg="Requirido" aria-required="true">
                                                <span class="input-icon input-icon-right date-picker-icon"><em class="ti ti-calendar"></em></span>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div><!-- .step-fields -->
                        </div>
                        <div style="width:100%; text-align: center; margin-top:10px; margin-bottom:20px">
                            <button id="editFactura" class="btn btn-success" type="submit">
                                <alpha class="com">Actualizar Factura</alpha>
                            </button>
                        </div>
                        </form>
                    </div><!-- .card -->
                </div>
            </div>
        </div><!-- .container -->
    </div><!-- .page-content -->

    <div class="footer-bar">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8">
                    <ul class="footer-links">
                        <li><a href="<?php echo $this->basePath('finance/legal'); ?>">Aviso legal</a></li>
                        <li>902 021 445</li>
                        <li><a href="mailto:comunicaciones@prk-finance.com">comunicaciones@prk-finance.com</a></li>
                    </ul>
                </div><!-- .col -->
                <div class="col-md-4 mt-2 mt-sm-0">
                    <div class="d-flex justify-content-between justify-content-md-end align-items-center guttar-25px pdt-0-5x pdb-0-5x">
                        <div class="copyright-text">&copy; 2018 PRAKTON</div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
    <script type="text/javascript">
        var BASE_URL = "<?php echo $this->basePath(); ?>";
    </script>
    <script src="<?php echo $this->basePath('js/script.js'); ?>"></script>
</body>