<?php
$this->headTitle('Acceso Denegado');

$this->mainMenu()->setActiveItemId('finance');
?>
<body class="page-user">
    <div class="topbar-wrap">
        <div class="topbar is-sticky">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="topbar-nav d-lg-none">
                        <li class="topbar-nav-item relative">
                            <a class="toggle-nav" href="#">
                                <div class="toggle-icon">
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                </div>
                            </a>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                    <a class="topbar-logo">
                        <img src="<?php echo $this->basePath('img/logo.png') ?>" srcset="<?php echo $this->basePath('img/logo2x.png'); ?> 2x" alt="logo">
                    </a>
                    <ul class="topbar-nav">
                        <li class="topbar-nav-item relative">
                            <span class="user-welcome d-none d-lg-inline-block"><?php echo $client['name']; ?></span>
                            <a class="toggle-tigger user-thumb" href="#"><em class="ti ti-user"></em></a>
                            <div class="toggle-class dropdown-content dropdown-content-right dropdown-arrow-right user-dropdown">
                                <ul class="user-links">
                                    <li><a href="<?php echo $this->basePath('application/settings'); ?>"><i class="ti ti-id-badge"></i>Mi perfil</a></li>
                                </ul>
                                <ul class="user-links bg-light">
                                    <li><a href="<?php echo $this->basePath('logout'); ?>"><i class="ti ti-power-off"></i>Desconectar</a></li>
                                </ul>
                            </div>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                </div>
            </div><!-- .container -->
        </div><!-- .topbar -->
        <div class="navbar">
            <div class="container">
                <div class="d-lg-flex justify-content-between align-items-center w-100">
                    <ul class="navbar-menu">
                        <?php if($this->isProvider): ?>
                        <li><a href="<?php echo $this->basePath('finance'); ?>"><em class="ikon ikon-coins"></em> Facturas a cobrar </a></li>
                        <?php endif; ?>
                        <?php if($this->isClient): ?>
                        <li><a href="<?php echo $this->basePath('finance/client'); ?>"><em class="ikon ikon-coins"></em> Facturas a pagar </a></li>
                        <?php endif; ?>
                        <!-- <li><a href="<?php echo $this->basePath('application/settings'); ?>"><em class="ikon ikon-user"></em> Mi Perfil</a></li> -->
                    </ul>
                </div>
            </div><!-- .container -->
        </div><!-- .menubar -->
    </div><!-- .topbar-wrap -->

    <div class="page-content">
        <div class="container">
            <div class="card content-area">
                <div class="card-innr">
                    <div class="card-head">
                        <h4 class="card-title" style="float:left; margin-bottom:20px;">Se ha producido un error al procesar la solicitud.</h4>
                        <p>Inténtelo de nuevo mas tarde</p>
                    </div>
                </div><!-- .card-innr -->
            </div><!-- .card -->
        </div><!-- .container -->
    </div><!-- .page-content -->

    <div class="footer-bar">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8">
                    <ul class="footer-links">
                        <ul class="footer-links">
                        <li><a href="<?php echo $this->basePath('finance/legal'); ?>">Aviso legal</a></li>
                        <li>902 021 445</li>
                        <li><a href="mailto:comunicaciones@prk-finance.com">comunicaciones@prk-finance.com</a></li>
                    </ul>
                </div><!-- .col -->
                <div class="col-md-4 mt-2 mt-sm-0">
                    <div class="d-flex justify-content-between justify-content-md-end align-items-center guttar-25px pdt-0-5x pdb-0-5x">
                        <div class="copyright-text">&copy; 2018 PRAKTON</div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
    <script src="<?php echo $this->basePath('js/script.js'); ?>"></script>
</body>