<?php
$this->headTitle('Facturas al cobro');

$this->mainMenu()->setActiveItemId('finance');

?>

<body class="page-user">
    <div class="topbar-wrap">
        <div class="topbar is-sticky">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="topbar-nav d-lg-none">
                        <li class="topbar-nav-item relative">
                            <a class="toggle-nav" href="#">
                                <div class="toggle-icon">
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                </div>
                            </a>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                    <a class="topbar-logo">
                        <img src="<?php echo $this->basePath('img/logo.png') ?>" srcset="<?php echo $this->basePath('img/logo2x.png'); ?> 2x" alt="logo">
                    </a>
                    <ul class="topbar-nav">
                        <li class="topbar-nav-item relative">
                            <span class="user-welcome d-none d-lg-inline-block"><?php echo $client['name']; ?></span>
                            <a class="toggle-tigger user-thumb" href="#"><em class="ti ti-user"></em></a>
                            <div class="toggle-class dropdown-content dropdown-content-right dropdown-arrow-right user-dropdown">
                                <ul class="user-links">
                                    <li><a href="<?php echo $this->basePath('application/settings'); ?>"><i class="ti ti-id-badge"></i>Mi perfil</a></li>
                                </ul>
                                <ul class="user-links bg-light">
                                    <li><a href="<?php echo $this->basePath('logout'); ?>"><i class="ti ti-power-off"></i>Desconectar</a></li>
                                </ul>
                            </div>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                </div>
            </div><!-- .container -->
        </div><!-- .topbar -->
        <div class="navbar">
            <div class="container">
                <div class="d-lg-flex justify-content-between align-items-center w-100">
                    <ul class="navbar-menu">
                        <?php if($this->isProvider): ?>
                        <li><a href="<?php echo $this->basePath('finance'); ?>"><em class="ikon ikon-coins"></em> Facturas a cobrar </a></li>
                        <?php endif; ?>
                        <?php if($this->isClient): ?>
                        <li><a href="<?php echo $this->basePath('finance/client'); ?>"><em class="ikon ikon-coins"></em> Facturas a pagar </a></li>
                        <?php endif; ?>
                        <!-- <li><a href="<?php echo $this->basePath('application/settings'); ?>"><em class="ikon ikon-user"></em> Mi Perfil</a></li> -->
                    </ul>
                </div>
            </div><!-- .container -->
        </div><!-- .menubar -->
    </div><!-- .topbar-wrap -->

    <div class="page-content">
        <div class="container">
            <div class="card content-area" style="margin-bottom:0px; border-bottom-right-radius:0px; border-bottom-left-radius:0px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
                <div class="card-innr" style="padding-bottom:0px;">
                     <div class="card-head">
                        <h4 class="card-title" style="float:left">Facturas a cobrar</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container">
            <div class="card content-area">
                <div class="card-innr">
                    <ul class="nav nav-tabs nav-tabs-line" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab-item-1">Listado de Facturas</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-item-2">Histórico de Facturas</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="tab-item-1">
                            <table class="data-table dt-init user-tnx">
                                <thead>
                                    <tr class="data-item data-head">
                                        <th class="data-col dt-name">Cliente</th>
                                        <th class="data-col dt-num">Num.</th>
                                        <th class="data-col dt-factura">F. Factura</th>
                                        <th class="data-col dt-vencimiento">F. Vencimiento</th>
                                        <th class="data-col dt-import">Importe</th>
                                        <th class="data-col dt-estado">Estado</th>
                                        <th class="data-col dt-actions">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php 
                                        $countInvoice = 0;
                                        if(!empty($this->facturas))
                                        {
                                            foreach ($this->facturas as $value) { 
                                                $fecha_factura_c = date("d-m-Y", strtotime(str_replace("/", "-", $value['fecha_factura_c'])));
                                                $fecha_vencimiento_c = date("d-m-Y", strtotime(str_replace("/", "-", $value['fecha_vencimiento_c'])));
                                                $countInvoice++;

                                                $date1 = DateTime::createFromFormat('d-m-Y', $fecha_vencimiento_c);
                                                $now = new DateTime();
                                                $liquidacion = false;
                                                if($now->getTimestamp() <= $date1->getTimestamp()){
                                                    $liquidacion = true;
                                                }
                                            ?>
                                            <tr class="data-item">
                                                <td class="data-col dt-name">
                                                    <span data-client="<?php echo $value['accounts_fac_facturas_1accounts_ida']; ?>"><?php echo $value['accounts_fac_facturas_1_name']; ?></span>
                                                </td>
                                                <td class="data-col dt-num">
                                                    <span><?php echo $value['id_factura']; ?></span>
                                                </td>
                                                <td class="data-col dt-factura">
                                                    <span><?php echo $fecha_factura_c; ?></span>
                                                </td>
                                                <td class="data-col dt-vencimiento">
                                                    <span><?php echo $fecha_vencimiento_c; ?></span>
                                                </td>
                                                <td class="data-col dt-import">
                                                    <span class="amount-pay"><?php echo number_format($value['importe_c'], 2, ',', '.'); ?> €</span>
                                                </td>
                                                <td class="data-col dt-estado">
                                                    <div class="d-flex align-items-center">
                                                        <div class="data-state data-state-<?php if($value['estado_c'] == 'disponible'){ ?>approved<?php }else if($value['estado_c'] == 'solicitud_anticipo'){?>progress<?php }else if($value['estado_c'] == 'anticipada'){?>approved relleno<?php }else if($value['estado_c'] == 'pagada'){?>missing<?php } ?>">
                                                            <span class="d-none">Pending</span>
                                                        </div>
                                                        <div class="fake-class">
                                                            <span class="lead">
                                                                <?php if($value['estado_c'] == 'disponible'){ ?>
                                                                    Disponible para anticipo
                                                                <?php }else if($value['estado_c'] == 'solicitud_anticipo'){?>
                                                                    En proceso de liquidación
                                                                <?php }else if($value['estado_c'] == 'anticipada'){?>
                                                                    Anticipo efectuado
                                                                <?php }else if($value['estado_c'] == 'pagada'){?>
                                                                    Pagada
                                                                <?php } ?>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="data-col">
                                                    <ul class="data-action-list d-none d-md-inline-flex">
                                                        <li>
                                                            <?php 
                                                            if($value['estado_c'] == 'disponible' && ($liquidacion)){ ?>
                                                            <a href="finance/solicitar/<?php echo $value['id']; ?>" class="btn btn-auto btn-primary btn-xs"><span>Solicitar liquidación inmediata</span></a>
                                                            <?php } ?>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <?php } 
                                        }
                                        ?>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="tab-item-2">
                            <table class="data-table dt-init user-tnx">
                                <thead>
                                    <tr class="data-item data-head">
                                        <th class="data-col dt-name">Cliente</th>
                                        <th class="data-col dt-num">Num.</th>
                                        <th class="data-col dt-factura">F. Factura</th>
                                        <th class="data-col dt-vencimiento">F. Vencimiento</th>
                                        <th class="data-col dt-import">Importe</th>
                                        <th class="data-col dt-estado">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php 
                                        $countInvoice = 0;
                                        if(!empty($this->historicFacturas))
                                        {
                                            foreach ($this->historicFacturas as $value) { 
                                                $fecha_factura_c = date("d-m-Y", strtotime(str_replace("/", "-", $value['fecha_factura_c'])));
                                                $fecha_vencimiento_c = date("d-m-Y", strtotime(str_replace("/", "-", $value['fecha_vencimiento_c'])));
                                                $countInvoice++;
                                            ?>
                                            <tr class="data-item">
                                                <td class="data-col dt-name">
                                                    <span data-client="<?php echo $value['accounts_fac_facturas_1accounts_ida']; ?>"><?php echo $value['accounts_fac_facturas_1_name']; ?></span>
                                                </td>
                                                <td class="data-col dt-num">
                                                    <span><?php echo $value['id_factura']; ?></span>
                                                </td>
                                                <td class="data-col dt-factura">
                                                    <span><?php echo $fecha_factura_c; ?></span>
                                                </td>
                                                <td class="data-col dt-vencimiento">
                                                    <span><?php echo $fecha_vencimiento_c; ?></span>
                                                </td>
                                                <td class="data-col dt-import">
                                                    <span class="amount-pay"><?php echo number_format($value['importe_c'], 2, ',', '.'); ?> €</span>
                                                </td>
                                                <td class="data-col dt-estado">
                                                    <div class="d-flex align-items-center">
                                                        <div class="data-state data-state-<?php if($value['estado_c'] == 'disponible'){ ?>approved<?php }else if($value['estado_c'] == 'solicitud_anticipo'){?>progress<?php }else if($value['estado_c'] == 'anticipada'){?>approved relleno<?php }else if($value['estado_c'] == 'pagada'){?>missing<?php }else if($value['estado_c'] == 'liquidada'){?>approved relleno<?php } ?>">
                                                            <span class="d-none">Pending</span>
                                                        </div>
                                                        <div class="fake-class">
                                                            <span class="lead">
                                                                <?php if($value['estado_c'] == 'disponible'){ ?>
                                                                    Disponible para anticipo
                                                                <?php }else if($value['estado_c'] == 'solicitud_anticipo'){?>
                                                                    En proceso de liquidación
                                                                <?php }else if($value['estado_c'] == 'anticipada'){?>
                                                                    Anticipo efectuado
                                                                <?php }else if($value['estado_c'] == 'pagada'){?>
                                                                    Pagada
                                                                <?php }else if($value['estado_c'] == 'liquidada'){?>
                                                                    Liquidada
                                                                <?php } ?>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <?php } 
                                        }
                                        ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- .card-innr -->
            </div><!-- .card -->
        </div><!-- .container -->
    </div><!-- .page-content -->

    <div class="footer-bar">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8">
                    <ul class="footer-links">
                        <ul class="footer-links">
                        <li><a href="<?php echo $this->basePath('finance/legal'); ?>">Aviso legal</a></li>
                        <li>902 021 445</li>
                        <li><a href="mailto:comunicaciones@prk-finance.com">comunicaciones@prk-finance.com</a></li>
                    </ul>
                </div><!-- .col -->
                <div class="col-md-4 mt-2 mt-sm-0">
                    <div class="d-flex justify-content-between justify-content-md-end align-items-center guttar-25px pdt-0-5x pdb-0-5x">
                        <div class="copyright-text">&copy; 2018 PRAKTON</div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
    <script src="<?php echo $this->basePath('js/script.js'); ?>"></script>
</body>