<?php
$this->headTitle('Solicitar Liquidación');

$this->mainMenu()->setActiveItemId('finance');

?>

<body class="page-user">
    <div class="topbar-wrap">
        <div class="topbar is-sticky">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="topbar-nav d-lg-none">
                        <li class="topbar-nav-item relative">
                            <a class="toggle-nav" href="#">
                                <div class="toggle-icon">
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                </div>
                            </a>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                    <a class="topbar-logo">
                        <img src="<?php echo $this->basePath('img/logo.png') ?>" srcset="<?php echo $this->basePath('img/logo2x.png'); ?> 2x" alt="logo">
                    </a>
                    <ul class="topbar-nav">
                        <li class="topbar-nav-item relative">
                            <span class="user-welcome d-none d-lg-inline-block"><?php echo $client['name']; ?></span>
                            <a class="toggle-tigger user-thumb" href="#"><em class="ti ti-user"></em></a>
                            <div class="toggle-class dropdown-content dropdown-content-right dropdown-arrow-right user-dropdown">
                                <ul class="user-links">
                                    <li><a href="<?php echo $this->basePath('application/settings'); ?>"><i class="ti ti-id-badge"></i>Mi perfil</a></li>
                                </ul>
                                <ul class="user-links bg-light">
                                    <li><a href="<?php echo $this->basePath('logout'); ?>"><i class="ti ti-power-off"></i>Desconectar</a></li>
                                </ul>
                            </div>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                </div>
            </div><!-- .container -->
        </div><!-- .topbar -->
        <div class="navbar">
            <div class="container">
                <div class="d-lg-flex justify-content-between align-items-center w-100">
                    <ul class="navbar-menu">
                        <?php if($this->isProvider): ?>
                        <li><a href="<?php echo $this->basePath('finance'); ?>"><em class="ikon ikon-coins"></em> Facturas a cobrar </a></li>
                        <?php endif; ?>
                        <?php if($this->isClient): ?>
                        <li><a href="<?php echo $this->basePath('finance/client'); ?>"><em class="ikon ikon-coins"></em> Facturas a pagar </a></li>
                        <?php endif; ?>
                        <!-- <li><a href="<?php echo $this->basePath('application/settings'); ?>"><em class="ikon ikon-user"></em> Mi Perfil</a></li> -->
                    </ul>
                </div>
            </div><!-- .container -->
        </div><!-- .menubar -->
    </div><!-- .topbar-wrap -->

    <div class="page-content">
        <div class="container">
            <div class="card content-area">
                <div class="card-innr">
                    <div class="card-head d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0">Detalle anticipo factura</h4>
                        <a href="<?php echo $this->basePath('finance'); ?>" class="btn btn-sm btn-auto btn-primary d-sm-block d-none"><em class="fas fa-arrow-left mr-3"></em>Volver</a>
                    </div>
                    <?php echo $this->flashMessenger()->renderCurrent('error', ['alert', 'alert-danger', 'alert-center', 'prakton-error']); ?>
                    <?php $this->flashMessenger()->getPluginFlashMessenger()->clearCurrentMessagesFromContainer(); ?>
                    <?php echo $this->flashMessenger()->render('error', ['alert', 'alert-danger', 'alert-center', 'prakton-error']); ?>
                    <?php
                        $fecha_factura_c = date("d-m-Y", strtotime(str_replace("/", "-", $this->infoInvoice['fecha_factura_c'])));
                        $fecha_vencimiento_c = date("d-m-Y", strtotime(str_replace("/", "-", $this->infoInvoice['fecha_vencimiento_c'])));
                    ?>
                    <div class="gaps-1-5x"></div>
                    <div class="data-details d-md-flex">
                        <div class="fake-class">
                            <span class="data-details-title">Número Factura:</span>
                            <span class="data-details-info"><?php echo $this->infoInvoice['id_factura']; ?></span>
                        </div>
                        <div class="fake-class">
                            <span class="data-details-title">Nombre Cliente:</span>
                            <span class="data-details-info"><?php echo $this->client['name']; ?></span>
                        </div>
                        <div class="fake-class">
                            <span class="data-details-title">CIF:</span>
                            <span class="data-details-info"><?php echo $this->client['cif_c']; ?></span>
                        </div>
                        <div class="fake-class">
                            <span class="data-details-title">Fecha de Factura:</span>
                            <span class="data-details-info"><?php echo $fecha_factura_c; ?></span>
                        </div>
                        <div class="fake-class">
                            <span class="data-details-title">Fecha de Vencimiento:</span>
                            <span class="data-details-info"><?php echo $fecha_vencimiento_c; ?></span>
                        </div>
                        <div class="fake-class">
                            <span class="data-details-title">Importe:</span>
                            <span class="data-details-info"><?php echo number_format($this->infoInvoice['importe_c'], 2, ',', '.'); ?> €</span>
                        </div>
                        <div class="fake-class">
                            <span class="data-details-title">&nbsp;</span>
                            <span class="data-details-info">
                                <a title="Descargar" href="download/<?php echo $this->infoInvoice['id']; ?>">
                                    <em class="fa fa-file-pdf"></em>
                                    <!--button id="pdf" class="btn btn-sm btn-auto btn-primary d-sm-block d-none" type="button"-->
                                        <alpha class="com" style="text-decoration: underline;">Descargar Factura</alpha>
                                    <!--/button-->
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="gaps-3x"></div>
                    <h6 class="card-sub-title">Condiciones anticipo</h6>
                    <form action="<?php echo $this->basePath('finance/solicitar'); ?>/<?php echo $this->infoInvoice['id']; ?>" method="POST" name="registerOperation">
                    <input type="hidden" name="idProveedor" value="<?php echo $this->provider['id']; ?>" id="idProveedor"/>
                    <input type="hidden" name="idInvoice" value="<?php echo $this->infoInvoice['id']; ?>" id="idInvoice"/>
                    <input type="hidden" name="idClient" value="<?php echo $this->client['id']; ?>" id="idClient"/>
                    <input type="hidden" name="impTIN" value="<?php echo $this->impTIN; ?>" id="impTIN"/>
                    <input type="hidden" name="porComision" value="<?php echo $this->porComision; ?>" id="porComision"/>
                    <input type="hidden" name="comAbertura" value="<?php echo $this->comAbertura; ?>" id="comAbertura"/>
                    <input type="hidden" name="retencion" value="<?php echo $this->retencion; ?>" id="retencion"/>
                    <input type="hidden" name="totalComision" value="<?php echo $this->totalComision; ?>" id="totalComision"/>
                    <input type="hidden" name="impTotalLiquidar" value="<?php echo $this->impTotalLiquidar; ?>" id="impTotalLiquidar"/>
                    <input type="hidden" name="impAdministrativo" value="0" id="impAdministrativo"/>
                    <?php
                        $fecha_actual = date("d-m-Y");
                    ?>
                    <ul class="data-details-list">
                        <li>
                            <div class="data-details-head">Fecha de Liquidación</div>
                            <div class="data-details-des"><strong><?php echo $fecha_actual; ?></strong></div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Tipo de Interés nominal (TIN)</div>
                            <div class="data-details-des"><strong>4,95% (<?php echo number_format($this->impTIN,2,",","."); ?>€)</strong></div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Estudio y comisión de apertura</div>
                            <div class="data-details-des"><strong><?php echo number_format($this->comAbertura,2,",","."); ?>€</strong></div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Retención 19%</div>
                            <div class="data-details-des"><strong>-<?php echo number_format($this->retencion,2,",","."); ?>€</strong></div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">Gastos administrativos</div>
                            <div class="data-details-des"><strong>0,00€</strong></div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head" style="font-size: 16px; color:#005fee;">Importe neto a abonar</div>
                            <div class="data-details-des" style="font-size: 16px; color:#005fee;"><strong><?php echo number_format($this->impTotalLiquidar,2,",","."); ?>€</strong></div>
                        </li><!-- li -->
                    </ul><!-- .data-details -->
                    <div class="gaps-3x"></div>
                    <h6 class="card-sub-title">Datos de su empresa</h6>
                    <ul class="data-details-list">
                        <li>
                            <div class="data-details-head">Nombre Empresa</div>
                            <div class="data-details-des"><strong><?php echo $this->provider['name']; ?></strong></div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">CIF</div>
                            <div class="data-details-des"><strong><?php echo $this->provider['cif_c']; ?></strong></div>
                        </li><!-- li -->
                        <li>
                            <div class="data-details-head">IBAN</div>
                            <div class="data-details-des"><input type="text" class="input-bordered" value="<?php echo $this->provider['iban_c']; ?>" name="iban_c" aria-required="true"/></div>
                        </li><!-- li -->
                    </ul><!-- .data-details -->
                    <br>
                    <div style="width:100%; text-align: center; margin-top:10px">
                        <span><input style="margin-right: 10px;" type="checkbox" name="conditions" id="is_conditions" class="flat-grey" value="1"></span>
                        <span> He leído y acepto de condiciones del <a title="Calcular" href="conditions/">contrato.</a> </span><br/>
                        <br>
                        <button id="solicitar" class="btn btn-success" type="submit" style="margin-top:5px;">
                            <alpha class="com">Solicitar Liquidación Ahora</alpha>
                        </button>
                    </div>
                    </form>
                </div>
            </div><!-- .card -->
        </div><!-- .container -->
    </div><!-- .page-content -->

    <div class="footer-bar">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8">
                    <ul class="footer-links">
                        <li><a href="<?php echo $this->basePath('finance/legal'); ?>">Aviso legal</a></li>
                        <li>902 021 445</li>
                        <li><a href="mailto:comunicaciones@prk-finance.com">comunicaciones@prk-finance.com</a></li>
                    </ul>
                </div><!-- .col -->
                <div class="col-md-4 mt-2 mt-sm-0">
                    <div class="d-flex justify-content-between justify-content-md-end align-items-center guttar-25px pdt-0-5x pdb-0-5x">
                        <div class="copyright-text">&copy; 2018 PRAKTON</div>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-bar -->
    <script type="text/javascript">
        var BASE_URL = "<?php echo $this->basePath(); ?>";
    </script>
    <script src="<?php echo $this->basePath('js/script.js'); ?>"></script>
</body>