<?php
$this->headTitle('Sign in');
$this->mainMenu()->setActiveItemId('login');

$form->get('email')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Email address',
    'required' => true,
    'autofocus' => true
    ])
    ->setLabelAttributes([
        'class' => 'sr-only'
    ]);

$form->get('password')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Password',
    'required' => true,
    ])
    ->setLabelAttributes([
        'class' => 'sr-only'
    ]);
?>
<body class="page-ath">
    <div class="page-ath-wrap">
        <div class="page-ath-content">
            <div class="page-ath-header">
                <img src="<?php echo $this->basePath('img/logo-light.png') ?>" srcset="<?php echo $this->basePath('img/logo-light2x.png') ?> 2x" alt="logo">
            </div>
            <div class="page-ath-form">
                <h2 class="page-ath-heading">Acceso <small>con sus credenciales Prakton Finance</small></h2>
                <form method="post">
                    <?php if ($isLoginError): ?>
                    <div class="alert alert-warning" role="alert">
                        Login / Contraseña Incorrectos. 
                        <!-- <a href="<?= $this->url('reset-password') ?>">Forgot password?</a> -->
                    </div>
                    <?php endif; ?>
                    <div class="input-item">
                        <?= $this->formElement($form->get('email')); ?>
                    </div>
                    <div class="input-item">
                        <?= $this->formElement($form->get('password')); ?>
                    </div>           
                    <?= $this->formElement($form->get('redirect_url')); ?>
                    <?= $this->formElement($form->get('csrf')) ?>
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                </form>
                <div class="gaps-2x"></div>
                <div class="gaps-2x"></div>
                <div class="form-note">
                    No tiene cuenta? <a href="register"> <strong>Regístrese</strong></a>
                </div>
            </div>
            <div class="page-ath-footer">
                <ul class="footer-links">
                    <li>&copy; 2018 PRAKTON.</li>
                </ul>
            </div>
        </div>
        <div class="page-ath-gfx">
           <div class="w-100 d-flex justify-content-center">
               <div class="col-md-8 col-xl-5">
                   <img src="<?php echo $this->basePath('img/ath-gfx.png') ?>" alt="image">
               </div>
           </div>            
        </div>
    </div>
    <?= $this->inlineScript() ?>
</body>