<?php
$this->headTitle('Registrarse');

$this->mainMenu()->setActiveItemId('users');

$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'Register User'=>$this->url('users', ['action'=>'register'])
            ]);

$form->get('email')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'mi@correo.com'
    ]);

$form->get('full_name')->setAttributes([
    'class'=>'form-control', 
    'placeholder'=>'Nombre Completo'
    ]);

$form->get('password')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Contraseña'
    ]);

$form->get('confirm_password')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Repita contraseña'
    ]);

$form->get('submit')->setAttributes(['class'=>'btn btn-primary']);

$form->prepare();
?>
<body class="page-ath">
    <div class="page-ath-wrap">
        <div class="page-ath-content">
            <div class="page-ath-header">
                <img src="<?php echo $this->basePath('img/logo-light.png') ?>" srcset="<?php echo $this->basePath('img/logo-light2x.png') ?> 2x" alt="logo">
            </div>
            <div class="page-ath-form">
                <h2 class="page-ath-heading">Registro <small>Crear nueva cuenta PRK Finance</small></h2>
                <?= $this->form()->openTag($form); ?>
                    <div class="input-item">
                        <?= $this->formElement($form->get('full_name')); ?>
                        <?= $this->formElementErrors($form->get('full_name')); ?>
                    </div>
                    <div class="input-item">
                        <?= $this->formElement($form->get('email')); ?>
                        <?= $this->formElementErrors($form->get('email')); ?> 
                    </div>
                    <div class="input-item">
                        <?= $this->formElement($form->get('password')); ?>
                        <?= $this->formElementErrors($form->get('password')); ?>
                    </div>
                    <div class="input-item">
                        <?= $this->formElement($form->get('confirm_password')); ?>
                        <?= $this->formElementErrors($form->get('confirm_password')); ?>
                    </div>
                    <button class="btn btn-primary btn-block">Crear cuenta</button>
                <?= $this->form()->closeTag(); ?>
                <div class="gaps-2x"></div>
                <div class="gaps-2x"></div>
                <div class="form-note">
                    ¿Ya tiene cuenta? <a href="login"> <strong><a href="<?php echo $this->basePath('login'); ?>">Acceda Aquí</a></strong>
                </div>
            </div>
            <div class="page-ath-footer">
                <ul class="footer-links">
                    <li>&copy; 2018 PRAKTON.</li>
                </ul>
            </div>
        </div>
        <div class="page-ath-gfx">
           <div class="w-100 d-flex justify-content-center">
               <div class="col-md-8 col-xl-5">
                   <img src="<?php echo $this->basePath('img/ath-gfx.png') ?>" alt="image">
               </div>
           </div>            
        </div>
    </div>
    <?= $this->inlineScript() ?>
</body>