<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('Finance')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
/*                        ->prependStylesheet($this->basePath('css/style.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
                        ->prependStylesheet($this->basePath('plugins/DataTables/media/css/jquery.dataTables.css'))*/
                        ->prependStylesheet($this->basePath('css/new_template/vendor.bundle.css'))
                        ->prependStylesheet($this->basePath('css/new_template/style.css'))

        ?>       
    </head>

    <body class="page-ath">
        <div class="page-ath-wrap">
            <?= $this->content; ?>
        </div>
        <?= $this->inlineScript() ?>
        <!-- Scripts -->
        <?= $this->headScript()
            //->prependFile($this->basePath('js/bootstrap.min.js'))
            //->prependFile($this->basePath('plugins/DataTables/media/js/jquery.dataTables.min.js'))
            ->prependFile($this->basePath('js/jquery.bundle.js'))
            ->prependFile($this->basePath('js/script.js'))
            ->prependFile($this->basePath('js/jquery-2.2.4.min.js'))
        ?>
    </body>
</html>
