<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('Finance')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
/*                        ->prependStylesheet($this->basePath('css/style.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
                        ->prependStylesheet($this->basePath('plugins/DataTables/media/css/jquery.dataTables.css'))*/
                        ->prependStylesheet($this->basePath('css/new_template/style.css'))
                        ->prependStylesheet($this->basePath('css/new_template/vendor.bundle.css'))

        ?>
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js" async></script>-->
        <?= $this->headScript()
            //->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js')
            //->prependFile($this->basePath('plugins/DataTables/media/js/jquery.dataTables.min.js'))
            ->prependFile($this->basePath('js/jquery.bundle.js'))
            //->prependFile($this->basePath('js/script.js'))
            ->prependFile($this->basePath('js/jquery-2.2.4.min.js'))
        ?>
    </head>
    <?= $this->content; ?>       
</html>